.container{
    display:flex;
flex-direction: column;
text-align: center;
gap:25px;
    img{
        max-width:170px;
        border-radius: 20px;
        max-height:150px;
        
        background-color: var(--project-card-bg);
    }
.HE{
    text-align: center;
    
}
a{
    color:#222;
    width:fit-content;
    text-decoration: none;
    transition: transform 200ms ease-in-out;
}

a:hover{
transform: scale(0.9);
}
}
.ProjectContainer{
    display: flex;
    flex-direction: row;
   align-self:center;
    gap:30px;
    
}
@media (width>=800px){
    .container{
        flex-direction: row;
        justify-content: space-evenly;
        padding:0 20px;
    }
}
