.skillcontainer{
    display: flex;
    gap:20px;
    flex-direction: column;
    h1{
        text-align: center;

    }
    span{
        display: flex;
        align-items: center;
        gap:5px;
        

    }
    img{
        max-width: 20px;
    }
    .SkillList{
        display: flex;
       align-self: center;
        justify-content: space-evenly;
      flex-wrap: wrap;
        max-width: 26ch;
        row-gap: 40px;

    }
    @media (width>=800px){
     .SkillList{
            max-width: fit-content;
            gap:30px;
            p{
                font-size: 20px;
            }
        }
    }
   
}
